* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

div {
	display: inline-block;
	border: 1px solid #000;
}

img {
	position: static;
	-webkit-user-select: none;
}

.tag {
	text-align: left;
	position: absolute;
	background-color: #000000;
	opacity: .75;
	color: #fff;
	padding: 5px;
	border-radius: 4.5px;
	display: flex;
	-webkit-user-select: none;
	cursor: move;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}

.tag:not(.active) .rm {
	display: none;
}

h2 {
	font-size: 29px;
}

.rm {
	padding: 0 2.5px;
	border: 1px solid #000;
	cursor: pointer;
	color: #f00;
}